################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WUIF/Sample/Win32
/WUIF/Sample/x64/Debug
